/* global variables */
:root {
    --main-color : ;
    --alternate-color: ;
    --sction-padding:100px;
}
/* global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webki-box-sizing : border-box;
    --moz-box-sizing : border-box;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
/* end global rules */