/* global variables */
:root {
    --main-color : #2196f3;
    --alternate-color:#1787e0 ;
    --sction-padding:100px;
    --main-transation:0.3s;
}
/* global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
/* end global rules */
/* start header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.header .container .logo {
    height: 72px;
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .header .container .logo {
        height: 40px;
        width: 100%;
    }
}
.header .main-nav {
    display: flex;
 
}
.header .main-nav > li > a {
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: black;
    overflow: hidden;
    transition: var(--main-transation);
}
@media (max-width:767px) {
    .header  .main-nav > li > a {
        padding: 0 10px;
        height: 40px;
        font-size: 14px;
    }
    .header  .main-nav {
        margin: auto;
    }
}
.header  .main-nav  > li > a::before {
    content: "";
    width: 100%;
    background-color: var(--main-color);
    height: 4px;
    position: absolute;
    top: 0;
    left: -100%;
    transition: var(--main-transation);
}
.header  .main-nav  >  li > a:hover {
    color: var(--main-color);
    background-color: #e7e7e7;
    font-weight: 700;
}
.header  .main-nav  > li > a:hover::before{
    left: 0;  
}
/* start mega-menu */
.header .mega-menu {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -2;
    top: calc(100% + 50px);
    opacity: 0;
    transition: var(--main-transation);
}
@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}
.header .mega-menu .image img{
    width: 400px;
    max-width: 100%;
}
@media (max-width:991px) {
    .header .mega-menu .image img{
       display: none;
    } 
}
.header .mega-menu .links {
    min-width: 280px;
    flex: 1;
}
.header .mega-menu .links  li {
    position: relative;
}
.header .mega-menu .links  li:not(:last-child){
   border-bottom: 1px solid #ccc;
}
@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #ccc; 
    }
}
.header .mega-menu .links li::before {
    content: "";
    background-color: #eeeaea;
    width: 0;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: -1;
    transition: var(--main-transation);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    font-size: 18px;
    color: var(--main-color);
    padding: 20px;
    display: block;
    font-weight: bold;
}
@media (max-width:767px) {
    .header .mega-menu .links li a {
        padding: 10px;
    }
}
.header .mega-menu .links li i{
    margin-right: 28px;
    font-size: 20px;
}
.header .main-nav li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: 100%;
}
/* end mega-menu */
/* end header */
/* start landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e9e7e7;
    z-index: -1;
    transform: skewY(-6deg);
    top:-60px;
    transform-origin: top left;
}
.landing  .container{
    display: flex;
    min-height: calc(100vh - 72px);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 160px;
}
@media (max-width:992px) {
    .landing  .container{
        flex-direction: column;
    }
    
}
.landing  .container .image img{
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: img-up-down 5s linear infinite;
}
.landing .go-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-size: 30px;
    bottom: 30px;
    transition: var(--main-transation);
}
.landing .go-down i {
    animation: bouncing 1.5s linear infinite;
}
.landing .go-down:hover {
    color: var(--alternate-color);
}
.landing .container .text  {
   flex: 1;
}

.landing .container .text h1 {
    font-size: 35px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.landing .container .text p {
    line-height: 1.6;
    color: #666;
    max-width: 500px;
}
@media (max-width:992px) {
    .landing .container .text {
        margin-top: 70px;
        text-align: center;
    }
    .landing .container .text p  {
      font-size: 15px;
    }
    .landing .container .text h1 {
        font-size: 25px;
    }    
}
/* end landing */
/* Start animation */
@keyframes img-up-down {
    0%, 100% {
        top:0;
    }
    50% {
        top: -40px;;
    }
}@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
/* end animation */